# Virtuelle Umgebung und Python Cache
.venv/
__pycache__/
*.pyc

# Flüchtige EmberCore Runtime-Daten (NIEMALS im Git)
backend/servers/
backend/backups/
backend/plugins/
backend/data/

# Dein Entwicklungs-Ordner (WIRD im Git getrackt)
!backend/dev_plugins/
