# Virtuelle Umgebung und Python Cache
.venv/
.vscode/
__pycache__/
*.pyc
dist/
build/
data/
servers/
logs/

# Flüchtige EmberCore Runtime-Daten (NIEMALS im Git)
backend/servers/
backend/backups/
backend/plugins/
backend/data/

# Dein Entwicklungs-Ordner (WIRD im Git getrackt)
!backend/dev_plugins/

EmberCore.spec
install_service.sh
uninstall_service.sh
